.DS_Store
*.xcbkptlist
WTest.xcworkspace/xcuserdata/dberto.xcuserdatad/xcschemes/xcschememanagement.plist
WTest.xcworkspace/xcuserdata/dberto.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
WTestCommum/WTestCommon.xcodeproj/xcuserdata/davidberto.xcuserdatad/xcschemes/xcschememanagement.plist
MVVM/MVVM.xcodeproj/xcuserdata/davidberto.xcuserdatad/xcschemes/xcschememanagement.plist
WTestAPI/WTestAPI.xcodeproj/xcuserdata/davidberto.xcuserdatad/xcschemes/xcschememanagement.plist
